// Layout
$grid-size: 8px;

$gl-spacing-scale-0: 0;
$gl-spacing-scale-1: 0.25 * $grid-size;
$gl-spacing-scale-2: 0.5 * $grid-size;
$gl-spacing-scale-3: $grid-size;
$gl-spacing-scale-4: 1.5 * $grid-size;
$gl-spacing-scale-5: 2 * $grid-size;
$gl-spacing-scale-6: 3 * $grid-size;
$gl-spacing-scale-7: 4 * $grid-size;
$gl-spacing-scale-8: 5 * $grid-size;
$gl-spacing-scale-9: 6 * $grid-size;
$gl-spacing-scale-10: 7 * $grid-size;
$gl-spacing-scale-11: 8 * $grid-size;

$transparent: transparent;
$black: #000;

// Color schema
$white-light: #fff;
$white-normal: #f0f0f0;
$white-dark: #eaeaea;
$white-transparent: rgba(255, 255, 255, 0.8);

$green-50: #f1fdf6;
$green-100: #dcf5e7;
$green-200: #b3e6c8;
$green-300: #75d09b;
$green-400: #37b96d;
$green-500: #1aaa55;
$green-600: #168f48;
$green-700: #12753a;
$green-800: #0e5a2d;
$green-900: #0a4020;
$green-950: #072b15;

$blue-50: #f6fafe;
$blue-100: #e4f0fb;
$blue-200: #b8d6f4;
$blue-300: #73afea;
$blue-400: #418cd8;
$blue-500: #1f78d1;
$blue-600: #1b69b6;
$blue-700: #17599c;
$blue-800: #134a81;
$blue-900: #0f3b66;
$blue-950: #0a2744;

$orange-50: #fffaf4;
$orange-100: #fff1de;
$orange-200: #fed69f;
$orange-300: #fdbc60;
$orange-400: #fca429;
$orange-500: #fc9403;
$orange-600: #de7e00;
$orange-700: #c26700;
$orange-800: #a35200;
$orange-900: #853c00;
$orange-950: #592800;

$red-50: #fef6f5;
$red-100: #fbe5e1;
$red-200: #f2b4a9;
$red-300: #ea8271;
$red-400: #e05842;
$red-500: #db3b21;
$red-600: #c0341d;
$red-700: #a62d19;
$red-800: #8b2615;
$red-900: #711e11;
$red-950: #4b140b;

$gray-50: #fafafa;
$gray-100: #f2f2f2;
$gray-200: #dfdfdf;
$gray-300: #ccc;
$gray-400: #bababa;
$gray-500: #a7a7a7;
$gray-600: #919191;
$gray-700: #707070;
$gray-800: #4f4f4f;
$gray-900: #2e2e2e;
$gray-950: #1f1f1f;

// GitLab themes

$gl-themes: 'indigo', 'blue', 'light-blue', 'green', 'red', 'light-red';

$theme-indigo-50: #f7f7ff;
$theme-indigo-100: #ebebfa;
$theme-indigo-200: #d1d1f0;
$theme-indigo-300: #a6a6de;
$theme-indigo-400: #7c7ccc;
$theme-indigo-500: #6666c4;
$theme-indigo-600: #5b5bbd;
$theme-indigo-700: #4b4ba3;
$theme-indigo-800: #393982;
$theme-indigo-900: #292961;
$theme-indigo-950: #1a1a40;

$theme-blue-50: #f4f8fc;
$theme-blue-100: #e6edf5;
$theme-blue-200: #c8d7e6;
$theme-blue-300: #97b3cf;
$theme-blue-400: #648cb4;
$theme-blue-500: #4a79a8;
$theme-blue-600: #3e6fa0;
$theme-blue-700: #305c88;
$theme-blue-800: #25496e;
$theme-blue-900: #1a3652;
$theme-blue-950: #0f2235;

$theme-light-blue-50: #f2f7fc;
$theme-light-blue-100: #ebf1f7;
$theme-light-blue-200: #c9dcf2;
$theme-light-blue-300: #83abd4;
$theme-light-blue-400: #4d86bf;
$theme-light-blue-500: #367cc2;
$theme-light-blue-600: #3771ab;
$theme-light-blue-700: #2261a1;
$theme-light-blue-800: #25496e;
$theme-light-blue-900: #1a3652;
$theme-light-blue-950: #0f2235;

$theme-green-50: #f2faf6;
$theme-green-100: #e4f3ea;
$theme-green-200: #c0dfcd;
$theme-green-300: #8ac2a1;
$theme-green-400: #52a274;
$theme-green-500: #35935c;
$theme-green-600: #288a50;
$theme-green-700: #1c7441;
$theme-green-800: #145d33;
$theme-green-900: #0d4524;
$theme-green-950: #072d16;

$theme-red-50: #fcf4f2;
$theme-red-100: #fae9e6;
$theme-red-200: #ebcac5;
$theme-red-300: #d99b91;
$theme-red-400: #b0655a;
$theme-red-500: #ad4a3b;
$theme-red-600: #9e4133;
$theme-red-700: #912f20;
$theme-red-800: #78291d;
$theme-red-900: #691a16;
$theme-red-950: #36140f;

$theme-light-red-50: #fff6f5;
$theme-light-red-100: #fae2de;
$theme-light-red-200: #f7d5d0;
$theme-light-red-300: #d9796a;
$theme-light-red-400: #cf604e;
$theme-light-red-500: #c24b38;
$theme-light-red-600: #b03927;
$theme-light-red-700: #a62e21;
$theme-light-red-800: #78291d;
$theme-light-red-900: #691a16;
$theme-light-red-950: #36140f;

$darken-normal-factor: 7%;
$darken-dark-factor: 10%;
$darken-border-factor: 5%;
$darken-border-dashed-factor: 25%;

$t-gray-a-02: rgba($black, 0.02);
$t-gray-a-04: rgba($black, 0.04);
$t-gray-a-06: rgba($black, 0.06);
$t-gray-a-08: rgba($black, 0.08);

$absolutes: (
  'transparent': $transparent,
  'black': $black
);

$transparencies: (
  '02': $t-gray-a-02,
  '04': $t-gray-a-04,
  '06': $t-gray-a-06,
  '08': $t-gray-a-08
);

$whites: (
  'light': $white-light,
  'normal': $white-normal,
  'dark': $white-dark,
  'transparent': $white-transparent
);

$greens: (
  '50': $green-50,
  '100': $green-100,
  '200': $green-200,
  '300': $green-300,
  '400': $green-400,
  '500': $green-500,
  '600': $green-600,
  '700': $green-700,
  '800': $green-800,
  '900': $green-900,
  '950': $green-950
);

$blues: (
  '50': $blue-50,
  '100': $blue-100,
  '200': $blue-200,
  '300': $blue-300,
  '400': $blue-400,
  '500': $blue-500,
  '600': $blue-600,
  '700': $blue-700,
  '800': $blue-800,
  '900': $blue-900,
  '950': $blue-950
);

$oranges: (
  '50': $orange-50,
  '100': $orange-100,
  '200': $orange-200,
  '300': $orange-300,
  '400': $orange-400,
  '500': $orange-500,
  '600': $orange-600,
  '700': $orange-700,
  '800': $orange-800,
  '900': $orange-900,
  '950': $orange-950
);

$reds: (
  '50': $red-50,
  '100': $red-100,
  '200': $red-200,
  '300': $red-300,
  '400': $red-400,
  '500': $red-500,
  '600': $red-600,
  '700': $red-700,
  '800': $red-800,
  '900': $red-900,
  '950': $red-950
);

$grays: (
  '50': $gray-50,
  '100': $gray-100,
  '200': $gray-200,
  '300': $gray-300,
  '400': $gray-400,
  '500': $gray-500,
  '600': $gray-600,
  '700': $gray-700,
  '800': $gray-800,
  '900': $gray-900,
  '950': $gray-950
);

$color-ranges: (
  'primary': $blues,
  'secondary': $grays,
  'success': $greens,
  'warning': $oranges,
  'danger': $reds
);

$theme-indigo: (
  '50': $theme-indigo-50,
  '100': $theme-indigo-100,
  '200': $theme-indigo-200,
  '300': $theme-indigo-300,
  '400': $theme-indigo-400,
  '500': $theme-indigo-500,
  '600': $theme-indigo-600,
  '700': $theme-indigo-700,
  '800': $theme-indigo-800,
  '900': $theme-indigo-900,
  '950': $theme-indigo-950
);

$theme-blue: (
  '50': $theme-blue-50,
  '100': $theme-blue-100,
  '200': $theme-blue-200,
  '300': $theme-blue-300,
  '400': $theme-blue-400,
  '500': $theme-blue-500,
  '600': $theme-blue-600,
  '700': $theme-blue-700,
  '800': $theme-blue-800,
  '900': $theme-blue-900,
  '950': $theme-blue-950
);

$theme-light-blue: (
  '50': $theme-light-blue-50,
  '100': $theme-light-blue-100,
  '200': $theme-light-blue-200,
  '300': $theme-light-blue-300,
  '400': $theme-light-blue-400,
  '500': $theme-light-blue-500,
  '600': $theme-light-blue-600,
  '700': $theme-light-blue-700,
  '800': $theme-light-blue-800,
  '900': $theme-light-blue-900,
  '950': $theme-light-blue-950
);

$theme-green: (
  '50': $theme-green-50,
  '100': $theme-green-100,
  '200': $theme-green-200,
  '300': $theme-green-300,
  '400': $theme-green-400,
  '500': $theme-green-500,
  '600': $theme-green-600,
  '700': $theme-green-700,
  '800': $theme-green-800,
  '900': $theme-green-900,
  '950': $theme-green-950
);

$theme-red: (
  '50': $theme-red-50,
  '100': $theme-red-100,
  '200': $theme-red-200,
  '300': $theme-red-300,
  '400': $theme-red-400,
  '500': $theme-red-500,
  '600': $theme-red-600,
  '700': $theme-red-700,
  '800': $theme-red-800,
  '900': $theme-red-900,
  '950': $theme-red-950
);

$theme-light-red: (
  '50': $theme-light-red-50,
  '100': $theme-light-red-100,
  '200': $theme-light-red-200,
  '300': $theme-light-red-300,
  '400': $theme-light-red-400,
  '500': $theme-light-red-500,
  '600': $theme-light-red-600,
  '700': $theme-light-red-700,
  '800': $theme-light-red-800,
  '900': $theme-light-red-900,
  '950': $theme-light-red-950
);

// black and transparent are accessible without referencing a group name
$gl-color-groups: (
  '': $absolutes,
  't-gray-a': $transparencies,
  'white': $whites,
  'green': $greens,
  'blue': $blues,
  'orange': $oranges,
  'red': $reds,
  'gray': $grays,
  'theme-indigo': $theme-indigo,
  'theme-blue': $theme-blue,
  'theme-light-blue': $theme-light-blue,
  'theme-green': $theme-green,
  'theme-red': $theme-red,
  'theme-light-red': $theme-light-red,
  'theme-gray': $grays
);

// Text
$gl-font-weight-normal: 400;
$gl-font-weight-bold: 600;

$gl-font-weights: (
  'normal': $gl-font-weight-normal,
  'bold': $gl-font-weight-bold
);

$gl-type-scale-base: 14px;

$gl-type-scale: (
  'sm': 12px,
  'base': $gl-type-scale-base,
  'lg': 16px,
  'xl': 20px,
  '2xl': 28px,
  '3xl': 42px
);

// Line height
$gl-line-height-14: 14px;
$gl-line-height: 16px;
$gl-line-height-20: 20px;
$gl-line-height-24: 24px;

$gl-line-heights: (
  '14': $gl-line-height-14,
  '': $gl-line-height,
  '20': $gl-line-height-20,
  '24': $gl-line-height-24
);

// Fonts
$gl-monospace-font: 'Menlo', 'DejaVu Sans Mono', 'Liberation Mono', 'Consolas', 'Ubuntu Mono',
  'Courier New', 'andale mono', 'lucida console', monospace;
$gl-regular-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Noto Sans', Ubuntu, Cantarell,
  'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';

$gl-fonts: (
  'monospace': $gl-monospace-font,
  'regular': $gl-regular-font
);

// borders
$gl-border-sizes: (
  0: 0,
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
);

// border roundness
$gl-border-radius-small: 2px;
$gl-border-radius-default: 4px;
$gl-border-radius-large: 8px;
$gl-border-radius-full: 50%;

$gl-rounded-sizes: (
  'none': 0,
  'sm': $gl-border-radius-small,
  '': $gl-border-radius-default,
  'lg': $gl-border-radius-large,
  'full': $gl-border-radius-full,
);

// Toasts
$toast-offset: 24px;
$toast-height: 48px;
$toast-max-width: 586px;
$toast-padding-right: 42px;
$toast-default-margin: 8px;
$toast-action-margin-left: 16px;
$toast-background-opacity: 0.95;

// Identicon
$identicon-red: #ffebee;
$identicon-purple: #f3e5f5;
$identicon-indigo: #e8eaf6;
$identicon-blue: #e3f2fd;
$identicon-teal: #e0f2f1;
$identicon-orange: #fbe9e7;

// Popovers
$popover-max-width: 384px;

// Licenses
$license-header-cell-width: 150px;

// Avatars
$avatar-radius: 50%;
$gl-avatar-size: 40px;
$gl-avatar-border-opacity: 0.1;
