<template>
  <gl-form-group 
    id="group-id"
    label="label" 
    label-size="sm" 
    description="Form group description"
    label-for="input1"
  >
    <gl-form-input id="input1" />
  </gl-form-group>
</template>
