<script>
import BFormGroup from 'bootstrap-vue/src/components/form-group/form-group';

export default {
  components: {
    BFormGroup,
  },
  inheritAttrs: false,
};
</script>
<template>
  <b-form-group v-bind="$attrs" class="gl-form-group" label-class="col-form-label">
    <slot v-for="slot in Object.keys($slots)" :slot="slot" :name="slot"></slot>
  </b-form-group>
</template>
